

    <div style="background-color:lightgoldenrodyellow">
    {{> header}}
    <h1 style="margin-left: 30px;"><u>Actualités</u></h1>
    <hr width="50%">
    <br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

      {{#results}}
      <section>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="{{picture}}" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <h2 class="display-6"><a href="/info{{id}}" style="color: black;">{{title}}</a></h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr width="50%">


      {{/results}}
    </div>
  </div>

    {{> footer}}