<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Being Human</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body style="background-color: lightgoldenrodyellow;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Being Human</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {{#off}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">S'inscrire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Se connecter</a>
          </li>
          {{/off}}

          {{#on}}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Se déconnecter</a>
          </li>
          {{/on}}

        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Help Ophans From Your Country</h1>
        <h2 class="masthead-subheading mb-0">By Becoming An Observer</h2>
        <a class="btn btn-primary btn-xl rounded-pill mt-5">Rendre le monde meilleur</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/afrique.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Suivez l'actualités...</h2>
            <a style="color:black;" href="/actuality"><p>Le continent Africain compte près de 59 millions d'orphelins, de même L'Asie et l'Amérique Latine compte près de 80 millions d'orphelins, ces enfants ont grandement besoin de notre soutien. Afin de venir en aide à ces derniers et de contribuer à leurs bonheur rester informer</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/occident.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Signaler des orphelins...</h2>
            <a style="color:black;" href="/report"><p>Contribuons à rendre le monde meilleur en signalant des enfants orphelins et ceux vivant dans des situations précaire afin de leurs offrirent un avenir meilleur...</p></a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img  class="img-fluid rounded-circle" src="img/Life-Children.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Apprendre plus sur les orphelins...</h2>
            <a style="color:black;" href="/orphan"><p>Dans ce monde ravagé par les guerres, les maladies et la précarité, nombreux sont les enfants qui se retrouvent, du jour au lendemain, orphelins. Mais être orphelin ne signifie pas pour autant être condamné à une vie médiocre baignée de tristesse et de solitude. De cette malheureuse situation peuvent naître de belles choses nourries de rencontres, d’échanges, de projets…</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="https://www.amica-travel.com/upload-images/destinations/communication-contact/enfants-siem-reap-cambodge-1495179103.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Nos témoignages...</h2>
            <a style="color:black;" href="/testimony"><p>Regarder les témoignages des utilisateurs qui sont venu en aide à des orphelins et aux enfants victimes de pauvreté...</p></a>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img  class="img-fluid rounded-circle" src="https://dominiquegambier.typepad.fr/.a/6a00e54f8c084e88340192ac1ec038970d-pi" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Laissez votre témoignage...</h2>
            <a style="color:black;" href="/setTestimony"><p>Partagez nous votre histoire...</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="jumbotron" style="border-radius: 150px; background-color: khaki;" >
  <h1 class="display-6">Apropos de nous!</h1>
    <p class="lead">Nous sommes une entreprise ayant pour but pricipale de venir en aide aux enfants démunis et aux orphelins afin de leurs offrirent un avenir meilleur...</p>
    <hr class="my-4">
    <p>Le site permet aux utilisateurs de signaler des cas aux seins de leur entourage, quartier, ville... </p>
    <p>Ici chaque utilisateur oeuvre à rendre le monde meilleur car ils sont comme des observateurs partout dans le monde...</p>
    
    <div class="jumbotron" style="border-radius: 200px; background-color: snow;" >
    <h1 class="display-7">Nous joindre !</h1>
    <hr>
    <p style="text-align: center;">
    <a style="background-color: khaki;" class="btn btn-primary btn-xl rounded-pill mt-5">Facebook</a>
    <a style="background-color: khaki;" class="btn btn-primary btn-xl rounded-pill mt-5">Twitter</a>
    <a style="background-color: khaki;" class="btn btn-primary btn-xl rounded-pill mt-5">instagram</a>
    </p>
    </div>

  </div>


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Being Human</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
