
{{> header}}

<h2 class="display-4" style="text-align: center; color: crimson;"> Les enfants face à la pauvreté dans le monde </h2>
<br>
<hr width="50%">
<div style="margin-right: 200px;">
    <div>
        <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://i.pinimg.com/originals/c8/78/5c/c8785ccaf23e828c91ab59d5d3277b5b.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                  <div class="p-5">
                    <h2 class="display-7">Les enfants face à la pauvreté...</h2>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <p class="lead" style="color: black;">Chaque jour, plus de 30 000 enfants meurent de causes directement liées à la pauvreté. 
        Aujourd’hui, la pauvreté tue un enfant toutes les 3 secondes. Les enfants sont les premières victimes de la pauvreté, 
        qui est la principale cause de violation des Droits de l’enfant.</p>
        <br>
    </div>

    <div>
        <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://img.aws.la-croix.com/2018/03/15/1200921058/adobestock-42514131_0_729_486.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2 class="display-7">Définition de la pauvreté chez les enfants...</h2>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <br>
        
        <p  class="lead" style="color: black;">
            De manière générale, la pauvreté est définie comme “l’insuffisance des choses nécessaires à la vie”. 
            Le pauvre est celui “qui n’a pas le nécessaire”, et donc l’enfant pauvre serait “une personne en bas âge qui n’a pas le nécessaire pour vivre”.

            <p class="lead" style="color: black;">
                D’un point de vue économique, la pauvreté se définit de 2 manières :
            </p>
            <p class="lead" style="color: black;">
            – la pauvreté absolue : les revenus sont insuffisants pour satisfaire les besoins physiologiques de l’individu ;
            </p>
            <p class="lead" style="color: black;"> 
            – la pauvreté relative : les revenus sont inférieurs à ceux des membres de la communauté dans laquelle s’inscrit l’individu.
            </p>

            Toutefois, il est important de noter que cette définition économique de la pauvreté correspond à une pauvreté monétaire.
            
            Or, la pauvreté n’a pas uniquement une dimension matérielle, des éléments qualitatifs sont également à prendre en compte, 
            comme par exemple “la capacité d’utiliser les ressources dont disposent les individus”. (1)
            Au-delà de sa dimension monétaire, la pauvreté porte directement atteinte aux droits fondamentaux et à la dignité des individus.
            Elle empêche l’exercice de certaines libertés individuelles et porte “atteinte à la sécurité de l’existence 
            (absence de revenu, de logement, de possibilité de se soigner ou d’accéder à la justice) et au développement de la personne 
            (faible vie intellectuelle, culturelle, familiale et sociale)”.(2)

            Chez l’enfant, la définition de la pauvreté ne doit pas se limiter à la considération d’une insuffisance de ressources.
            En effet, lorsque les enfants font face à la pauvreté, ils sont privés de leurs Droits fondamentaux et de leurs perspectives d’avenir.

            La pauvreté est une atteinte aux capacités de survie de l’enfant, elle constitue un frein à son épanouissement et à son développement 
            dans toutes ses dimensions (physique, mental, affectif, culturel, social, familial, spirituel, etc.).

            L’impact de la pauvreté est si grand, que l’on peut affirmer que la pauvreté est la principale cause de violation des Droits de l’enfant.
        </p>
    </div>
        <br>


   <di> 
    <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://i.ytimg.com/vi/ZOdjWpfljhs/hqdefault.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-7">Les causes de la pauvreté chez les enfants...</h2>
            </div>
          </div>
        </div>
      </div>
  </section>
        <br>
        <p class="lead" style="color: black;">
            Généralement, un enfant est pauvre, car il naît dans la pauvreté. “La pauvreté engendre la pauvreté et crée un cercle vicieux.”(3) Un enfant vit dans la pauvreté car sa famille et / ou son pays fait face à la pauvreté.

            Historiquement, toutes les nations ont été confrontées un jour à la misère et à la pauvreté. Globalement, l’extrême pauvreté touche aujourd’hui encore plus d’1 milliard d’êtres humains à travers le monde.

            La pauvreté diminue, mais les efforts pour la combattre sont encore nettement insuffisants. Pourtant, il ne s’agit pas d’un rêve irréaliste, des solutions existent, seul le manque d’une réelle volonté politique mondiale fait obstacle.
        </p>
    </di>
        <br>

    <div>
        <section>
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-6">
                  <div class="p-5">
                    <img class="img-fluid rounded-circle" src="https://c8.alamy.com/compfr/brkf4e/un-jeune-enfant-travailleur-est-porteur-d-un-gros-sac-rempli-de-dechets-a-la-decharge-de-stung-meanchey-a-phnom-penh-cambodge-brkf4e.jpg" alt="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <h2 class="display-7">Les conséquences de la pauvreté chez les enfants...</h2>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <br>

        <p class="lead" style="color: black;">
            Les conséquences de la pauvreté chez l’enfant sont dévastatrices. Aujourd’hui encore, la pauvreté tue un enfant toutes les 3 secondes.

            S’il apparaît ainsi évident que la pauvreté prive les enfants du droit fondamental à la vie, il faut aussi souligner que la violation des Droits de l’enfant est globale. La pauvreté prive les enfants d’éducation, d’accès aux soins de santé, à l’eau potable, à l’alimentation, au logement, à la sécurité et à la protection, à l’information, etc.

            De plus, lorsque les enfants font face à la pauvreté, ils sont plus vulnérables à l’exploitation, à la violence, à la maltraitance, aux discriminations et à toutes les inégalités. Ils sont beaucoup plus exposés aux maladies et à leurs conséquences, comme par exemple le VIH/SIDA.

            Ainsi, la pauvreté chez l’enfant se traduit par une véritable privation de l’enfance et conduit à une violation de l’ensemble de ses Droits, pourtant reconnus dans la Convention Internationale des Droits de l’Enfant (CIDE) à laquelle adhère la quasi totalité des pays du monde.
        </p>
    </div>
    <br>
    <hr width="50%">

    <div>
        <h2 class="display-4" style="text-align: center; color: crimson;"> Les orphelins </h2>
        <h3 style="color: crimson;">Les orphelins dans le monde</h3>
        <br>

        <p class="lead" style="color: black;">
            Aujourd’hui, 153 millions d’enfants sont orphelins dans le monde. 
            Cet état de fait engendre des conséquences tragiques sur les droits et le développement de ces enfants.
        </p>
        <br>

        <h3 style="color: black;">Définition d'orphelin</h3>
        <br>

        <p class="lead" style="color: black;">
            Un orphelin est un enfant dont l’un ou les deux parents sont décédés.
            On estime que sur 132 millions d’orphelins vivant dans les pays en développement, 13 millions ont perdu leurs deux parents.
        </p>
        <br>

        <h3 style="color: black;"> Causes de l'orphelinat</h3>
        <br>

        <p class="lead" style="color: black;">
            Orphelins du SIDA
            L’une des causes premières associées à l’origine de l’orphelinat est l’épidémie du VIH/SIDA.

            Un enfant devient orphelin parce que l’un de ses parents est décédé du virus. Il peut, ou non, avoir contracté la maladie.

            En 2008, quelques 430 000 enfants ont été infectés par le VIH. Dans la majorité des cas la transmission du virus s’est faite de la mère à l’enfant. Cependant, cette transmission peut être évitée quand les soins adéquats sont disponibles. Or, les pays à faibles revenus n’ont souvent pas accès aux traitements médicaux.

            Ainsi, tant que le fléau du sida persistera, le nombre d’orphelins du SIDA continuera de croître.
        </p>
        <br>

        <h3 style="color: black;">Autres causes importantes</h3>
        <br>

        <p class="lead" style="color: black;">
            La perte d’un parent peut aussi être due aux catastrophes naturelles, à la famine et aux guerres qui ont notamment pour effet le déplacement des enfants par delà les frontières.

            L’extrême pauvreté, l’infirmité, la maltraitance et l’inceste peuvent provoquer une déchirure du noyau familial et s’avérer être, à terme, des causes d’abandon.
        </p>

        <h3 style="color: darkkhaki;">de l’orphelinat</h3>
        <p class="lead" style="color: black;">
        L’enfant est seul dans un monde d’adultes. Les orphelins sont victimes de violations graves de leurs droits :
        </p>

        <h3 style="color: darkkhaki;">Accès à l’alimentation</h3>
        <p class="lead" style="color: black;">
        Les orphelins n’ont pas les moyens de se nourrir sainement.
        </p>


        <h3 style="color: darkkhaki;">Accès au logement</h3>
        <p class="lead" style="color: black;">
        Sans abri, ces enfants sont bien souvent obligés de vivre dans les rues.
        </p>


        <h3 style="color: darkkhaki;">Accès à l’éducation</h3>
        <p class="lead" style="color: black;">
        L’éducation est, dans la plupart des cas, sacrifiée en premier. En effet, l’enfant doit subvenir à ses propres besoins mais également parfois à ceux de ses plus jeunes frères et sœurs dont il est responsable.
        </p>


        <h3 style="color:darkkhaki;">à la santé</h3>
        <p class="lead" style="color: black;">
        La santé est rarement une préoccupation pour ces enfants à la différence de l’accès à la nourriture ou au logement. Or, les conditions dans lesquelles ils vivent et les activités auxquelles ils se livrent augmentent considérablement les risques pour leur santé (rixes, drogues, grossesses et maladies sexuellement transmissibles, malnutrition, travail dangereux etc).
        </p>


        <h3 style="color: darkkhaki;">Le travail des enfants</h3>
        <p class="lead" style="color: black;">
        Certains d’entre eux cherchent du travail pour subvenir à cette situation d’urgence. Ils sont trop souvent exploités et se livrent à toutes formes de travail dégradant et dangereux. Des évaluations de l’Organisation Internationale du Travail ont révélé que les orphelins travaillent plus souvent que les autres enfants dans l’agriculture commerciale, comme vendeurs des rues, comme domestiques et dans l’industrie du sexe.
        </p>
        <hr width="50%">

        <h3 style="color: crimson; text-align: center;"> Solution à l’orphelinat</h3>
        <h2 style="color: darkkhaki;">Protections juridiques garanties par la CIDE</h2>
        <p class="lead" style="color: black;">


            <p class="lead" style="color: black;">
            En l’absence de protection familiale temporaire ou définitive, la Convention Internationale relative aux Droits de l’Enfant (CIDE) prévoit que se sont aux États de fournir une assistance et une protection spéciales.
            </p>

            <p class="lead" style="color:black;">
            L’article 20 de la CIDE précise quatre types de prise en charge des enfants orphelins :
            </p>

            <p class="lead" style="color:black;">
            1- le placement dans une famille ;
            </p>

            <p class="lead" style="color: black;">
            2- la kafalah (dans le droit islamique, l’adoption est interdite, une famille s’engage à prendre en charge bénévolement l’entretien, l’éducation et la protection d’un enfant.
            A la différence de l’adoption, ce régime ne confère aucun lien de filiation entre l’enfant et la famille d’accueil );
            </p>

            <p class="lead" style="color: black;">
            3- l’adoption ;
            </p>

            <p class="lead" style="color: black;">
            4- le placement dans un établissement pour enfants approprié.
            </p>
            Toutefois, de nombreux gouvernements ne répondent pas suffisamment aux besoins des enfants orphelins.

            <h3 style="color: darkkhaki;">
            L'adoption ternationnale
            </h3>

            L’adoption internationale constitue une alternative pour l’équilibre des enfants. Envisagée par la Convention internationale de La Haye de 1993 relative à la protection des enfants et la coopération en matière d’adoption internationale, elle permet à un orphelin d’être recueilli légalement dans une famille d’accueil.

            De nombreuses conditions doivent être respectées en vue de protéger les intérêts de l’enfant et assurer une certaine transparence du processus. L’objectif est d’éviter le trafic d’enfants qui tend à se répandre.

            Toutefois, il faut noter que dans certaines situations, il est difficile de recourir à l’adoption internationale. C’est le cas lorsque les enfants sont séparés de leur famille à la suite de guerres ou de catastrophes naturelles. L’objectif prioritaire est d’abord de rechercher la famille de l’enfant avant d’envisager l’adoption
        
            <h3 style="color: darkkhaki;">
            Limiter la propagation du virus du SIDA
            </h3>
            Contenir l’épidémie du VIH/SIDA permettrait de limiter le nombre d’orphelins dans le monde : des campagnes de préventions et de dépistage doivent pour cela être réalisées. L’accès au traitement doit également être garanti.

            La Déclaration d’engagement face au VIH/SIDA, signée en 2001 par de nombreux pays, reconnaît que les enfants orphelins ont besoin d’une assistance spéciale. Celle-ci consiste à garantir la non-discrimination dont ces orphelins sont victimes ainsi que l’accès à la santé, à l’éducation et au logement.
        </p>

        </div>

</div>


{{> footer}}
